@import "tailwindcss/base.css";
@import "custom-base.pcss";

@import "tailwindcss/components.css";
@import "custom-components.pcss";

@import "tailwindcss/utilities.css";
@import "custom-utilities.pcss";

@import "pages/home.pcss";